// import google font
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Josefin+Sans:wght@100;200;300;400;500&family=Space+Mono&display=swap');

// define sass variables
$colorLight: #f2f2f2;
$colorMedium: #949494;
$colorDark: #4d4d4d;

$spaceS: 12px;
$spaceM: 24px;
$spaceL: 48px;

$radiusS: 8px;
$radiusL: 16px;

$thin: 2px;

// set global styles
body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Josefin Sans', 'Trebuchet MS', 'Helvetica', sans-serif;
  color: $colorDark;
}

// define mixins here:
@mixin flexCol($align: center) {
  display: flex;
  flex-direction: column;
  align-items: $align;
}

// add styles for GuestInput

.display {
  @include flexCol();
}

.content {
  @include flexCol(flex-start);
  border: 2px solid $colorMedium;
}

.list {
  border: 2px solid $colorMedium;
  margin: $spaceM;
  padding: $spaceS;

  p {
    display: inline-block;
  }
}

.inputs {
  @include flexCol(flex-start);
  border: 2px solid $colorMedium;
  margin: $spaceM;

  label {
    margin: $spaceS;
  }
}

.buttons {
  @include flexCol(flex-start);
  margin: $spaceM;
  border: 2px solid $colorMedium;

  button {
    margin: $spaceS;
    padding: $spaceS;
    font-family: 'Josefin Sans', 'Trebuchet MS', 'Helvetica', sans-serif;
  }
}
