// import google font
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Josefin+Sans:wght@100;200;300;400;500&family=Space+Mono&display=swap');

// define sass variables
$colorLight: #f2f2f2;
$colorMedium: #949494;
$colorDark: #4d4d4d;

$spaceS: 12px;
$spaceM: 24px;
$spaceL: 48px;

$radiusS: 8px;
$radiusL: 16px;

$thin: 2px;

// set global styles
body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Josefin Sans', 'Trebuchet MS', 'Helvetica', sans-serif;
  color: $colorDark;
}

// define mixins here:
@mixin flexCol($align: center) {
  display: flex;
  flex-direction: column;
  align-items: $align;
}

// center everything
.display {
  @include flexCol();
  font-size: 1.2rem;
  margin: $spaceM;
}

// define how the content displays
.content {
  @include flexCol(stretch);
  border: 2px solid $colorMedium;
  max-width: 768px;
  width: 70vw;
  @media screen and (max-width: 700px) {
    width: 95vw;
  }
  button {
    margin: $spaceS;
    padding: $spaceS;
    font-family: 'Josefin Sans', 'Trebuchet MS', 'Helvetica', sans-serif;
  }
}

.list {
  border: 2px solid $colorMedium;
  margin: $spaceM;
  padding: $spaceS;

  // define the the styles for each individual guest line
  .guest {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 2px solid $colorLight;
    margin: $spaceS;
    @media screen and (max-width: 400px) {
      grid-template-columns: 1fr;
    }
    .guestName {
      font-variant: small-caps;
    }
    .status {
      display: flex;
      padding-top: $spaceS;
    }
  }
}

// style the input fields
.inputs {
  @include flexCol(flex-start);
  border: 2px solid $colorMedium;
  margin: $spaceM;

  label {
    margin: $spaceS;
  }
  input {
    margin-left: $spaceS;
  }
}

// make error visible
.error {
  border: 4px double red;
  p {
    margin-left: $spaceS;
  }
}

// style the addGuest and deleteAll buttons
.buttons {
  display: flex;
  margin: $spaceM;
  border: 2px solid $colorMedium;
  .delete {
    margin-left: auto;
    padding: $radiusS;
  }
}
