// import google font
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Josefin+Sans:wght@100;200;300;400;500&family=Space+Mono&display=swap');

// define sass variables
$colorLight: #f2f2f2;
$colorMedium: #9494942f;
$colorButtons: #b6b5b541;
$colorDark: #4d4d4d;

$colorRed: rgba(252, 118, 100, 0.1);

$spaceS: 8px;
$spaceM: 24px;
$spaceL: 48px;

$radiusS: 4px;
$radiusM: 8px;

$thin: 2px;

// set global styles
body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Josefin Sans', 'Trebuchet MS', 'Helvetica', sans-serif;
  color: $colorDark;
  background-color: $colorLight;
}

// define mixins here:
@mixin flexCol($align: center) {
  display: flex;
  flex-direction: column;
  align-items: $align;
}

// center everything
.display {
  @include flexCol();
  font-size: 1.2rem;
  margin: $spaceM;
}

// define how the content displays
.content {
  @include flexCol(stretch);
  border: $thin solid $colorMedium;
  border-radius: $radiusM;
  max-width: 768px;
  width: 70vw;
  @media screen and (max-width: 700px) {
    width: 95vw;
  }
  button {
    cursor: pointer;
    border-radius: $radiusS;
    background-color: $colorButtons;
    margin: $spaceS;
    padding: $spaceS;
    font-family: 'Josefin Sans', 'Trebuchet MS', 'Helvetica', sans-serif;
  }
}

.list {
  // border: $thin solid $colorMedium;
  margin: $spaceM;
  margin-bottom: 0;
  padding: $spaceS;

  // define the the styles for each individual guest line
  .guest {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    border: $thin solid $colorMedium;
    border-radius: $radiusM;
    margin: $spaceS;
    padding: $spaceS;
    @media screen and (max-width: 400px) {
      grid-template-columns: 1fr;
    }
    p {
      display: inline-flex;
      font-size: 1.5rem;
      align-items: center;
      padding: $spaceS;
    }
    .guestName {
      font-variant: small-caps;
    }
    .status {
      display: flex;
      align-items: center;
    }
    button {
      width: min-content;
      height: min-content;
      align-self: center;
      justify-self: flex-end;
      color: $colorDark;
    }
  }
}

// filter buttons
.filters {
  display: flex;
  justify-content: flex-end;
  // border: $thin solid $colorMedium;
  margin: $spaceM;
  margin-top: 0;
  .active {
    box-shadow: $thin $thin $thin $colorMedium inset;
  }
}

.addGuest {
  display: flex;
  justify-content: center;
  font-size: $spaceM;
}

// style the input fields
.inputs {
  @include flexCol(flex-start);
  margin: $spaceS;

  label {
    margin: $spaceS;
  }
  input {
    margin-left: $spaceS;
    background-color: $colorLight;
  }
}

// make error visible
.error {
  border: 4px double red;
  p {
    margin-left: $spaceS;
  }
}

// style the addGuest button
.buttons {
  margin: $spaceS;

  .add {
    margin: $spaceS;
    padding: $spaceM;
    font-size: 1.5rem;
    color: $colorDark;
  }
}

// style the deleteAll button
.deleteAll {
  display: flex;
  margin: $spaceM;
  margin-top: $spaceL;
  justify-content: flex-end;
  .delete {
    // margin: $spaceL;
    height: min-content;
    width: min-content;
    white-space: nowrap;
    background-color: $colorRed;
  }
}
